@tailwind base;
@tailwind components;
@tailwind utilities;

/* Rich Editor */
.ProseMirror > h1 {
  @apply font-bold text-2xl my-2;
}

.ProseMirror > h2 {
  @apply font-bold text-lg my-2;
}

.ProseMirror > ul > li {
  @apply list-disc ml-5 my-2;
}

.ProseMirror > ol > li {
  @apply list-decimal ml-5 my-2;
}

@layer {
  body {
    @apply w-full h-full min-h-screen text-foreground bg-background;
  }

  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #616062 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  *::-webkit-scrollbar-track {
    @apply bg-background;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #616062;
    border-radius: 10px;
    border: 3px none #ffffff;
  }
}
